/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.iead/*
.idea/
/nbproject/
/web/bundles/
/web/uploads/
/web/media/
/web/document/*
/web/documents/*
/web/images/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/app/config/parameters.yml
/app/config/workers/*.conf
/node_modules
